.modal {
  background: linear-gradient(
    to right,
    var(--color-background-red-dark),
    var(--color-background-red-light)
  );
}

.modal-title {
  color: hsl(var(--color-danger-hue-red), 83%, 46.1%);
  padding: .5rem 20rem;
}

.modal-body {
  color: hsl(var(--color-danger-hue-red), 83%, 46.1%);
  padding: 0rem 11.91rem;
}

.modal-btn {
  cursor: pointer;
  color: hsl(var(--color-base-hue-red), 83%, 46.1%);
  border: 1px solid hsl(var(--color-danger-hue-red), 83%, 76.1%);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 21rem;
  background-color: rgba(50, 236, 230, 0.6);
}

.modal-btn:hover {
  background-color: rgba(50, 236, 230, 0.9);
}